// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reservation_link:hover,
.reservation_link:focus{
  color: #3aa9b1;
}

#map{
  margin-top: 47px;
  height: 300px;
}
