// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	max-width: 100%;
	height: auto;
}

table.table-hover {
	background-color: white;
}

.card-img-top {
  width: 500px;
  height: 200px;
  object-fit: cover;
}

.management-img {
	width: 500px;
  height: 300px;
  object-fit: cover;
}

#shop_wait_time {
  width: auto;
}

.inline-ajust {
	display: inline-block;
	width: auto;
}

.inline-left {
	float: left;
}

.inline-right {
	float: right;
}

.side {
	display: inline-block;
}

.btn-change-time {
	margin-left: 8px;
}

.modal-change-time {
	color: white;
  background-color: #0068b7;
  border-color: #0068b7;
}

