@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";
@import "partials/*";

body {
  font-family: メイリオ;
  background-color: rgb(248, 246, 246);
  padding-top: 70px;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(180, 176, 176);
}

.nav-link {
  color: rgb(105, 104, 104);
}

.nav-link:hover,
.nav-link:focus{
  color: #3aa9b1;
}

.nav-active {
  text-decoration-color:black;
  border-bottom: solid;
} 

.custom-hamburger .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.modal-how-to {
  color: #d0d0d0;
  background-color: #00334E;
  border-color: #00334E;
}

.alert-toppage{
  margin-bottom: 35px;
}


