@import "bootstrap";
@import "partials/*";

.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(180, 176, 176);
}

.nav-link {
  color: rgb(105, 104, 104);
  font-family: メイリオ;
}

.nav-link:hover,
.nav-link:focus{
  color: #3aa9b1;
}
