@import "bootstrap";
@import "partials/*";

body {
  font-family: メイリオ;
  background-color: rgb(248, 246, 246);
}

.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(180, 176, 176);
}

.navbar-toggler-icon,
.nav-link {
  color: rgb(105, 104, 104);
}

.nav-link:hover,
.nav-link:focus{
  color: #3aa9b1;
}
